/* .slider {
    border-radius: 7px;

    width: 100%;
    position: relative;

    .slider-card {
        width: 95%;
        height: 240px;

        border-radius: 7px;
        position: relative;
        margin: 5px;
        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.37);
            color: #ffff;
            border-radius: 7px;

            .label {
                background-color: $mySecondaryBlack;
                width: 70px;
                padding: 5px 0px 5px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                float: left;
                color: #ffff;
                margin: 10px;
            }

            p {
                position: absolute;
                bottom: 0;
                margin: 10px;
                a {
                    color: $myGold;
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
        }
    }
    .title {
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        h1 {
            font-size: 1.7rem;
            font-weight: bold;

         
        }
        .hr {
            background-color: lighten($myBlack, 5);
            display: block;
            width: 55%;
            height: 1px;
            position: relative;
            top: 25px;
            left: 10px;
        }
    }
} */

/* .my-carousel {


    width: 100%;
    //background-color: red;

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-color: teal;
    }
}

.slider {
    width: 100%;

    .swiper {
        width: 100%;
        height: 240px;
        background-color: royalblue;
    }
    .swiper-slide {
        width: 100%;
        height: 100%;
        background-color: rgb(19, 39, 39);
        background-color: yellowgreen;
        display: flex;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
 */

.my-carousel {
    width: 100%;
    height: 100%;

    border-radius: 7px;

    .slides {
        width: 100% !important;
        position: relative;

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.37);
            color: #ffff;
            border-radius: 7px;

            .label {
                background-color: $mySecondaryBlack;
                width: 70px;
                padding: 5px 0px 5px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                float: left;
                color: #ffff;
                margin: 10px;
            }

            p {
                position: absolute;
                bottom: 0;
                margin: 10px;
                text-align: start;
                a {
                    color: $myGold;
                }
            }
        }
    }
    .slides img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 1024px) {
    .my-carousel {
        width: 97.5% !important;
        height: 100%;
        //background-color: aqua;
        border-radius: 7px;
        .slides {
            width: 50% !important;
            position: relative;
            margin-left: -5px;
            border-radius: 7px;
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.37);
                color: #ffff;
                border-radius: 7px;

                .label {
                    background-color: $mySecondaryBlack;
                    width: 70px;
                    padding: 5px 0px 5px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    float: left;
                    color: #ffff;
                    margin: 10px;
                }

                p {
                    position: absolute;
                    bottom: 0;
                    margin: 10px;
                    text-align: start;
                    a {
                        color: $myGold;
                    }
                }
            }
        }
        .slides img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media screen and (max-width: 425px) {
    .my-carousel {
        width: 100% !important;
        height: 100%;
        //background-color: aqua;
        border-radius: 7px;
        .slides {
            width: 100% !important;
            position: relative;
            margin-left: 0;
            border-radius: 7px;
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.37);
                color: #ffff;
                border-radius: 7px;

                .label {
                    background-color: $mySecondaryBlack;
                    width: 70px;
                    padding: 5px 0px 5px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    float: left;
                    color: #ffff;
                    margin: 10px;
                }

                p {
                    position: absolute;
                    bottom: 0;
                    margin: 10px;
                    text-align: start;
                    a {
                        color: $myGold;
                    }
                }
            }
        }
        .slides img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
